// color variables
$color-primary:#000;
$color-primary-1:#fff;
$color-red-1:#A30000;
$color-red-2:#FF0000;
$color-blue-1:#00FFEC;
$color-blue-2:#007EFF;
 
 
 
// Font variables
$font-primary: 'Roboto';
$font-display:'montserrat'; 
$font-content:Open Sans;

:root {
  color-scheme: light dark; /* both supported */
}

