@import "../../sass/variables";
@import "../../sass/globals";

.carousel {
  color: #23242A;
  margin-top: 4rem;
  padding: 1rem;
  height: 100vh;

    @include breakpoint-down(medium) {
          height: 80vh;

        }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 20vh;
    text-align: center;
    margin-bottom:1rem;
    margin-top: -1rem;

      @include breakpoint-down(small) {
        
        margin-left:auto;
        margin-right:auto;
        }

    h2 {
      color: black !important;
      font-size: 2.5rem;
      line-height: 1.1;
      width: 35rem;
      font-weight: 600;
      padding-top: 1.2rem;

       @include breakpoint-down(small) {
        font-size:2rem;
        width:20rem;
        text-align: center;
        margin-left:-1.8rem;
        }
    }

    h4 {
      color: #89a7c3 !important;
      font-size: $font-med;
      font-weight: 400;
      letter-spacing: 1.5;
      text-transform: uppercase;
    }
  }

  &__card-container {
    width: 120vw;
    height: auto;
    display: flex;
    flex-direction: row;
    padding:1rem;
    margin-left:10rem ;
    // overflow:visible;
    // overflow:hidden ;
    // justify-content: flex-start;
    // align-items: flex-start;
      @include breakpoint-down(medium) {
      margin-left: 0rem;
      
    }
     @include breakpoint-down(small) {
      margin-left: -1.8rem;
      
    }
  }

  &__card {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height:20rem;
    width:22rem;
    margin:1rem;
    // margin-left: -10rem;
    // overflow-x: visible;
    background-color:white;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

     @include breakpoint-down(small) {
        width:20rem;
      
    }

    h3{
      font-size:2rem;
      padding-bottom:2rem;

      
    }

    p{
      font-size:1.2rem;

      @include breakpoint-down(small) {
        font-size:1rem;
      
    }
      
    }
    h5{
      font-size:1rem;
      padding-top:1rem;
      color:rgba(100, 100, 111, 0.5);
    }
  }

  &__buttons{
    width:20rem;
    // background-color:whitesmoke;
    padding:1rem;
    margin-left:11rem;

    svg {
      font-size:1.8rem;
      margin-right: 1.2rem;
      cursor:pointer;


      &:hover{
         filter: invert(44%) sepia(94%) saturate(523%) hue-rotate(149deg) brightness(97%) contrast(107%);
      }
    }

     @include breakpoint-down(medium) {
      margin-left: 1.4rem;
      
    }
    @include breakpoint-down(small) {
      margin-left: 1rem;
      
    }

  }

}

.carousel-1{

  .alice-carousel__stage-item{
  width: 400px !important;
  }
}