:root {
  color-scheme: light dark;
  /* both supported */ }

.header {
  background-color: #fff;
  position: relative; }
  .header__logo {
    font-family: sarina;
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic; }
  .header__hamburger-menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: whitesmoke;
    margin-top: 1.5rem;
    transition: 0.5s ease-in-out;
    padding: 1.625rem;
    border-radius: 5px; }
    .header__hamburger-menu a {
      display: block;
      padding: 0.625rem;
      color: black;
      text-align: center; }
      .header__hamburger-menu a:hover {
        color: #89a7c3; }
  .header__links a {
    font-size: 0.875rem;
    color: #89a7c3;
    transition: color 300ms ease-in-out;
    font-weight: 500; }
    .header__links a:not(:last-child) {
      margin-right: 32px; }
    .header__links a::before {
      content: "";
      display: block;
      position: absolute;
      height: 5px;
      left: 0;
      right: 0;
      bottom: -30px;
      opacity: 0;
      transition: opacity 300ms ease-in-out; }
    .header__links a:hover {
      color: #2d314d; }
      .header__links a:hover::before {
        opacity: 1; }
  .header__button {
    height: 2.5rem;
    width: 7rem;
    color: #0e6fff;
    border-radius: 5px;
    border: solid 1.5px #89a7c3;
    padding-top: 0.5rem !important; }
    .header__button a {
      color: #0e6fff;
      font-weight: 800; }
  .header svg {
    font-size: 1.5rem;
    cursor: pointer; }

.active-menu {
  visibility: hidden; }

html {
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  overflow-x: hidden; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.wrapper {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  border: 0; }
  @media (max-width: 63.9375em) {
    .wrapper {
      min-height: 100vh !important; } }
  @media (max-width: 39.9375em) {
    .wrapper {
      min-height: 100vh; } }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }

.container {
  max-width: 78rem;
  margin: 0 auto;
  padding-top: 1.375rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  @media (max-width: 87.4375em) {
    .container {
      max-width: 70rem; } }
  @media (max-width: 63.9375em) {
    .container {
      max-width: 52rem; } }

.button {
  padding: 0.73rem;
  background: white;
  cursor: pointer; }

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none; } }

.hero {
  background-color: #fff;
  height: auto; }
  .hero__container {
    max-width: 77vw;
    padding-top: 1rem;
    width: 100%;
    margin: 1rem auto;
    justify-content: space-between; }
    @media (max-width: 63.9375em) {
      .hero__container {
        max-width: 100vw;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 4rem; } }
    @media (max-width: 39.9375em) {
      .hero__container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 75vw;
        margin-top: 4rem; } }
  .hero__title {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    padding-top: 5rem;
    margin-right: 2rem; }
    @media (max-width: 63.9375em) {
      .hero__title {
        margin-right: 0rem;
        width: 20rem; } }
    @media (max-width: 39.9375em) {
      .hero__title {
        padding: 0rem;
        max-width: 20rem; } }
    .hero__title-1 {
      font-size: 1.125rem;
      color: #89a7c3;
      font-weight: 500;
      padding-bottom: 1rem; }
      @media (max-width: 39.9375em) {
        .hero__title-1 {
          max-width: 10rem; } }
    .hero__title-2 {
      width: 24rem;
      color: #000;
      font-size: 3.4rem;
      font-weight: 600;
      padding-bottom: 1rem; }
      @media (max-width: 75em) {
        .hero__title-2 {
          font-size: 2.8rem; } }
      @media (max-width: 63.9375em) {
        .hero__title-2 {
          font-size: 1.8rem;
          width: 15rem; } }
      @media (max-width: 39.9375em) {
        .hero__title-2 {
          font-size: 2rem;
          width: 18rem; } }
  .hero__button {
    height: 3rem;
    width: 9rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 1.125rem;
    border: solid 1.5px #89a7c3;
    background-color: #0e6fff !important;
    font-weight: 800;
    margin-top: 0.5rem; }
    .hero__button a {
      color: #fff; }
    .hero__button:hover {
      color: #2d314d;
      transition: opacity 300ms ease-in-out; }
    @media (max-width: 39.9375em) {
      .hero__button {
        font-size: 1rem; } }
  .hero__image {
    max-width: 100%;
    max-height: 100%;
    width: 35rem; }
    .hero__image img {
      object-fit: contain;
      width: 35rem;
      height: 38rem; }
      @media (max-width: 75em) {
        .hero__image img {
          width: 30rem; } }
      @media (max-width: 63.9375em) {
        .hero__image img {
          width: 20rem;
          height: 25rem; } }
      @media (max-width: 39.9375em) {
        .hero__image img {
          padding-top: 1rem;
          width: 20rem;
          height: 22rem;
          margin-left: -0.8rem; } }

html {
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  overflow-x: hidden; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.wrapper {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  border: 0; }
  @media (max-width: 63.9375em) {
    .wrapper {
      min-height: 100vh !important; } }
  @media (max-width: 39.9375em) {
    .wrapper {
      min-height: 100vh; } }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }

.container {
  max-width: 78rem;
  margin: 0 auto;
  padding-top: 1.375rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  @media (max-width: 87.4375em) {
    .container {
      max-width: 70rem; } }
  @media (max-width: 63.9375em) {
    .container {
      max-width: 52rem; } }

.button {
  padding: 0.73rem;
  background: white;
  cursor: pointer; }

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none; } }

.LayoutOne {
  background: linear-gradient(to bottom, #fff 65%, #d8f6ff 35%);
  width: auto !important;
  overflow: hidden; }
  .LayoutOne__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.5fr max-content repeat(3, 0.5fr) repeat(3, 0.5fr);
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    width: 80vw;
    height: 100vh;
    margin: auto; }
    @media (max-width: 75em) {
      .LayoutOne__container {
        padding-left: 2rem;
        padding-right: 2rem; } }
    @media (max-width: 63.9375em) {
      .LayoutOne__container {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 2rem;
        align-items: center;
        justify-content: center; } }
  .LayoutOne__header {
    max-width: 31.5rem;
    grid-column: 3/6;
    grid-row: 1/4;
    margin-left: 2.5rem;
    line-height: 1.1;
    margin-top: 2rem;
    flex-direction: column; }
    @media (max-width: 63.9375em) {
      .LayoutOne__header {
        width: auto;
        grid-column: 1/3;
        margin-top: 0rem;
        margin-left: 0; } }
  .LayoutOne__img-1 {
    width: 22rem;
    background-image: url(img2.jpg);
    background-size: cover;
    height: 26rem;
    grid-column: 1/3;
    grid-row: 2/6;
    max-width: 100%;
    margin-left: 3rem; }
    @media (max-width: 75em) {
      .LayoutOne__img-1 {
        width: 18rem;
        object-fit: contain;
        background-repeat: no-repeat;
        margin-left: 2rem; } }
    @media (max-width: 63.9375em) {
      .LayoutOne__img-1 {
        background-repeat: no-repeat;
        width: 20rem;
        height: auto;
        margin-top: 1.5rem;
        margin-left: 0; } }
  .LayoutOne__img-2 {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
    border: 0;
    grid-column: 3/6;
    grid-row: 6/10;
    border-radius: 5px;
    width: 40rem; }
    @media (max-width: 63.9375em) {
      .LayoutOne__img-2 {
        width: 35rem;
        height: auto;
        margin-top: 1.5rem;
        margin-left: 0; } }
  .LayoutOne h3 {
    color: black;
    font-size: 2.2rem;
    font-weight: 600 !important; }
    @media (max-width: 87.4375em) {
      .LayoutOne h3 {
        font-size: 1.8rem;
        max-width: 28rem; } }
    @media (max-width: 63.9375em) {
      .LayoutOne h3 {
        max-width: 40rem;
        margin: auto; } }
  .LayoutOne p {
    padding-top: 2rem;
    color: black;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 400 !important;
    max-width: 32rem; }
    @media (max-width: 87.4375em) {
      .LayoutOne p {
        max-width: 30rem;
        margin-left: 0;
        font-size: 1.1rem; } }
    @media (max-width: 63.9375em) {
      .LayoutOne p {
        max-width: 40rem;
        margin: auto;
        font-size: 1rem; } }
    @media (max-width: 39.9375em) {
      .LayoutOne p {
        font-size: 1rem; } }

html {
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  overflow-x: hidden; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.wrapper {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  border: 0; }
  @media (max-width: 63.9375em) {
    .wrapper {
      min-height: 100vh !important; } }
  @media (max-width: 39.9375em) {
    .wrapper {
      min-height: 100vh; } }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }

.container {
  max-width: 78rem;
  margin: 0 auto;
  padding-top: 1.375rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  @media (max-width: 87.4375em) {
    .container {
      max-width: 70rem; } }
  @media (max-width: 63.9375em) {
    .container {
      max-width: 52rem; } }

.button {
  padding: 0.73rem;
  background: white;
  cursor: pointer; }

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none; } }

.carousel {
  color: #23242A;
  margin-top: 4rem;
  padding: 1rem;
  height: 100vh; }
  @media (max-width: 63.9375em) {
    .carousel {
      height: 80vh; } }
  .carousel__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 20vh;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -1rem; }
    @media (max-width: 39.9375em) {
      .carousel__container {
        margin-left: auto;
        margin-right: auto; } }
    .carousel__container h2 {
      color: black !important;
      font-size: 2.5rem;
      line-height: 1.1;
      width: 35rem;
      font-weight: 600;
      padding-top: 1.2rem; }
      @media (max-width: 39.9375em) {
        .carousel__container h2 {
          font-size: 2rem;
          width: 20rem;
          text-align: center;
          margin-left: -1.8rem; } }
    .carousel__container h4 {
      color: #89a7c3 !important;
      font-size: 1.125rem;
      font-weight: 400;
      letter-spacing: 1.5;
      text-transform: uppercase; }
  .carousel__card-container {
    width: 120vw;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-left: 10rem; }
    @media (max-width: 63.9375em) {
      .carousel__card-container {
        margin-left: 0rem; } }
    @media (max-width: 39.9375em) {
      .carousel__card-container {
        margin-left: -1.8rem; } }
  .carousel__card {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height: 20rem;
    width: 22rem;
    margin: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
    @media (max-width: 39.9375em) {
      .carousel__card {
        width: 20rem; } }
    .carousel__card h3 {
      font-size: 2rem;
      padding-bottom: 2rem; }
    .carousel__card p {
      font-size: 1.2rem; }
      @media (max-width: 39.9375em) {
        .carousel__card p {
          font-size: 1rem; } }
    .carousel__card h5 {
      font-size: 1rem;
      padding-top: 1rem;
      color: rgba(100, 100, 111, 0.5); }
  .carousel__buttons {
    width: 20rem;
    padding: 1rem;
    margin-left: 11rem; }
    .carousel__buttons svg {
      font-size: 1.8rem;
      margin-right: 1.2rem;
      cursor: pointer; }
      .carousel__buttons svg:hover {
        filter: invert(44%) sepia(94%) saturate(523%) hue-rotate(149deg) brightness(97%) contrast(107%); }
    @media (max-width: 63.9375em) {
      .carousel__buttons {
        margin-left: 1.4rem; } }
    @media (max-width: 39.9375em) {
      .carousel__buttons {
        margin-left: 1rem; } }

.carousel-1 .alice-carousel__stage-item {
  width: 400px !important; }

html {
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  overflow-x: hidden; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.wrapper {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  border: 0; }
  @media (max-width: 63.9375em) {
    .wrapper {
      min-height: 100vh !important; } }
  @media (max-width: 39.9375em) {
    .wrapper {
      min-height: 100vh; } }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }

.container {
  max-width: 78rem;
  margin: 0 auto;
  padding-top: 1.375rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  @media (max-width: 87.4375em) {
    .container {
      max-width: 70rem; } }
  @media (max-width: 63.9375em) {
    .container {
      max-width: 52rem; } }

.button {
  padding: 0.73rem;
  background: white;
  cursor: pointer; }

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none; } }

.layoutTwo {
  color: black;
  height: 90vh;
  background-image: url("Bg.png");
  background-size: cover;
  max-width: 100vw;
  width: 90vw;
  background-repeat: no-repeat;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem; }
  @media (max-width: 75em) {
    .layoutTwo {
      width: auto;
      background-size: contain;
      height: auto;
      margin: 1rem; } }
  @media (max-width: 63.9375em) {
    .layoutTwo {
      max-width: 40rem;
      background-size: contain;
      height: auto;
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 39.9375em) {
    .layoutTwo {
      width: auto;
      background-size: contain;
      height: auto;
      margin: 1rem;
      padding: 0rem; } }
  .layoutTwo__header {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-left: 4rem;
    margin-bottom: 1.2rem; }
    @media (max-width: 39.9375em) {
      .layoutTwo__header {
        padding-left: 2rem; } }
    .layoutTwo__header h4 {
      font-size: 1.2rem;
      color: grey;
      padding-bottom: 1rem; }
      @media (max-width: 75em) {
        .layoutTwo__header h4 {
          font-size: 1rem; } }
      @media (max-width: 39.9375em) {
        .layoutTwo__header h4 {
          margin-left: -0.1rem; } }
    .layoutTwo__header h2 {
      font-size: 2.7rem;
      width: 35rem;
      font-weight: 700; }
      @media (max-width: 75em) {
        .layoutTwo__header h2 {
          font-size: 2rem;
          margin: auto;
          margin-left: -0.2rem; } }
      @media (max-width: 39.9375em) {
        .layoutTwo__header h2 {
          font-size: 1.5rem;
          max-width: 17rem; } }
    .layoutTwo__header p {
      padding-top: 2rem;
      width: 35rem;
      font-size: 1.2rem;
      font-weight: 400;
      padding-bottom: 2rem; }
      @media (max-width: 75em) {
        .layoutTwo__header p {
          font-size: 1.2rem; } }
      @media (max-width: 39.9375em) {
        .layoutTwo__header p {
          font-size: 1rem;
          max-width: 18rem;
          margin-left: 0rem; } }
  .layoutTwo__features {
    flex-wrap: wrap;
    width: 100%;
    margin: auto; }
    .layoutTwo__features_feature {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      padding-left: 2.9rem; }
      @media (max-width: 75em) {
        .layoutTwo__features_feature {
          width: 100%;
          flex-direction: column;
          padding-left: 1.5rem;
          margin-left: 2.6rem; } }
      @media (max-width: 39.9375em) {
        .layoutTwo__features_feature {
          margin-left: 0rem; } }
      .layoutTwo__features_feature-logo {
        padding-top: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 4rem; }
        @media (max-width: 75em) {
          .layoutTwo__features_feature-logo {
            padding-left: 0rem; } }
        @media (max-width: 39.9375em) {
          .layoutTwo__features_feature-logo {
            padding-left: 0.8rem; } }
      .layoutTwo__features_feature-detail {
        display: flex;
        flex-direction: column; }
        .layoutTwo__features_feature-detail--title {
          font-size: 1.3rem !important;
          font-weight: 600; }
          @media (max-width: 39.9375em) {
            .layoutTwo__features_feature-detail--title {
              width: 20rem;
              margin-left: 1rem; } }
        .layoutTwo__features_feature-detail--content {
          font-size: 1rem !important;
          font-weight: 400;
          padding-top: 0.8rem;
          padding-bottom: 2.4rem;
          width: 25rem; }
          @media (max-width: 39.9375em) {
            .layoutTwo__features_feature-detail--content {
              max-width: 18rem;
              margin-left: 1rem;
              padding-bottom: 2.4rem; } }

.icon-1 {
  display: inline-block;
  background-size: cover;
  width: 2rem;
  height: 2rem; }

.icon-2 {
  display: inline-block;
  background-size: cover;
  width: 2rem;
  height: 2rem; }

html {
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  overflow-x: hidden; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.wrapper {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  border: 0; }
  @media (max-width: 63.9375em) {
    .wrapper {
      min-height: 100vh !important; } }
  @media (max-width: 39.9375em) {
    .wrapper {
      min-height: 100vh; } }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }

.container {
  max-width: 78rem;
  margin: 0 auto;
  padding-top: 1.375rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  @media (max-width: 87.4375em) {
    .container {
      max-width: 70rem; } }
  @media (max-width: 63.9375em) {
    .container {
      max-width: 52rem; } }

.button {
  padding: 0.73rem;
  background: white;
  cursor: pointer; }

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none; } }

.pagination {
  height: 80vh;
  width: 100vw;
  flex-direction: column; }
  @media (max-width: 39.9375em) {
    .pagination {
      height: 80vh; } }
  .pagination h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 8rem;
    margin-top: 2rem; }
    @media (max-width: 63.9375em) {
      .pagination h2 {
        margin-left: 8rem; } }
    @media (max-width: 39.9375em) {
      .pagination h2 {
        margin-left: 2rem;
        margin-right: auto; } }
  .pagination__container {
    flex-direction: row;
    width: 1200px;
    margin-left: 8rem;
    overflow: visible; }
    @media (max-width: 39.9375em) {
      .pagination__container {
        margin-left: 1.2rem; } }
  .pagination__card {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height: 15rem;
    width: 70vw;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: -0.8rem;
    background-color: #ffab74;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
    @media (max-width: 39.9375em) {
      .pagination__card {
        padding-top: 0rem;
        padding-bottom: 0rem;
        height: 14rem; } }
    .pagination__card h3 {
      font-size: 1.3rem;
      padding-bottom: 1.2rem;
      padding-left: 1.5rem;
      max-width: 55rem; }
      @media (max-width: 75em) {
        .pagination__card h3 {
          max-width: 45rem; } }
      @media (max-width: 63.9375em) {
        .pagination__card h3 {
          font-size: 1rem; } }
      @media (max-width: 39.9375em) {
        .pagination__card h3 {
          padding: 0rem;
          margin-right: 0rem;
          font-size: 0.9rem; } }
    .pagination__card h5 {
      font-size: 1rem;
      padding-top: 1rem;
      color: rgba(100, 100, 111, 0.5); }
    .pagination__card-content {
      flex-direction: row;
      padding: 1rem; }
      @media (max-width: 39.9375em) {
        .pagination__card-content {
          padding-left: 0rem;
          padding-right: 0rem; } }
      .pagination__card-content img {
        max-width: 100%;
        max-height: 100%;
        width: 5rem;
        border-radius: 50%; }
        @media (max-width: 63.9375em) {
          .pagination__card-content img {
            font-size: 1rem; } }
      .pagination__card-content--details {
        padding: 1.2rem;
        flex-direction: column; }
        .pagination__card-content--details h4 {
          font-size: 1.5; }
          @media (max-width: 63.9375em) {
            .pagination__card-content--details h4 {
              font-size: 1rem; } }
        .pagination__card-content--details p {
          font-size: 1.2rem; }
          @media (max-width: 63.9375em) {
            .pagination__card-content--details p {
              font-size: 1rem; } }

.carousel {
  overflow: visible;
  height: auto; }

.inner {
  /*white-space: nowrap;*/
  transition: transform 0.3s ease-in; }

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: transparent;
  color: black; }
  @media (max-width: 39.9375em) {
    .carousel-item {
      width: auto !important; } }

.indicators {
  display: flex;
  justify-content: flex-start;
  margin-left: 8rem;
  margin-top: 1rem; }
  @media (max-width: 39.9375em) {
    .indicators {
      margin-left: 1.2rem !important; } }

.indicators > button {
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  background: white;
  border: none;
  width: 38px;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 50%;
  height: 38px;
  border: 1px solid grey;
  cursor: pointer; }

.indicators > button.active {
  background-color: black;
  color: white; }

.indicators > svg {
  width: 38px;
  margin-top: 3.2rem;
  font-size: 2.3rem;
  border-radius: 50%;
  padding: 9px;
  border: 1.5px solid grey;
  cursor: pointer; }

.indicators > svg:first-child {
  padding-right: 2px;
  margin-right: 10px; }

.indicators > svg:last-child {
  margin-left: 10px; }

html {
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  overflow-x: hidden; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.wrapper {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  border: 0; }
  @media (max-width: 63.9375em) {
    .wrapper {
      min-height: 100vh !important; } }
  @media (max-width: 39.9375em) {
    .wrapper {
      min-height: 100vh; } }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }

.container {
  max-width: 78rem;
  margin: 0 auto;
  padding-top: 1.375rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  @media (max-width: 87.4375em) {
    .container {
      max-width: 70rem; } }
  @media (max-width: 63.9375em) {
    .container {
      max-width: 52rem; } }

.button {
  padding: 0.73rem;
  background: white;
  cursor: pointer; }

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none; } }

.footer {
  background-color: #23242a;
  height: 45vh;
  color: white;
  padding-top: 3rem;
  overflow: hidden;
  position: absolute; }
  @media (max-width: 63.9375em) {
    .footer {
      height: auto; } }
  .footer__container {
    position: relative;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    padding: 1rem;
    margin: auto;
    flex-wrap: wrap; }
    @media (max-width: 63.9375em) {
      .footer__container {
        width: 30rem; } }
    @media (max-width: 39.9375em) {
      .footer__container {
        width: 20rem;
        margin: auto; } }
  .footer__about {
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5); }
    @media (max-width: 63.9375em) {
      .footer__about {
        width: 40rem; } }
    .footer__about h4 {
      font-family: sarina;
      padding-bottom: 2rem;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5); }
    .footer__about p {
      font-family: roboto;
      width: 23rem;
      padding-bottom: 2rem; }
      @media (max-width: 63.9375em) {
        .footer__about p {
          width: 30rem; } }
      @media (max-width: 63.9375em) {
        .footer__about p {
          width: 18rem;
          font-size: 1rem; } }
  .footer__pages {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    align-items: flex-start; }
    .footer__pages h4 {
      color: rgba(255, 255, 255, 0.5);
      font-family: roboto;
      padding-bottom: 2rem; }
      @media (max-width: 63.9375em) {
        .footer__pages h4 {
          font-size: 1rem; } }
    .footer__pages a {
      color: white;
      font-family: roboto;
      text-decoration: none !important;
      font-weight: 500;
      padding-bottom: 0.4rem; }
      @media (max-width: 63.9375em) {
        .footer__pages a {
          font-size: 0.8rem; } }
  .footer__demos {
    display: flex;
    flex-direction: column; }
    .footer__demos h4 {
      color: rgba(255, 255, 255, 0.5);
      font-family: roboto;
      padding-bottom: 2rem; }
      @media (max-width: 63.9375em) {
        .footer__demos h4 {
          font-size: 1rem; } }
    .footer__demos a {
      color: white;
      font-family: roboto;
      text-decoration: none !important;
      padding-bottom: 0.4rem;
      font-weight: 500; }
      @media (max-width: 63.9375em) {
        .footer__demos a {
          font-size: 0.8rem; } }
  .footer__resources {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center; }
    .footer__resources h4 {
      color: rgba(255, 255, 255, 0.5);
      font-family: roboto;
      padding-bottom: 2rem; }
      @media (max-width: 63.9375em) {
        .footer__resources h4 {
          font-size: 1rem; } }
    .footer__resources a {
      color: white;
      font-family: roboto;
      text-decoration: none !important;
      padding-bottom: 0.4rem;
      font-weight: 500; }
      @media (max-width: 63.9375em) {
        .footer__resources a {
          font-size: 0.8rem; } }
  .footer__footnote {
    width: 100vw;
    padding-top: 1.2rem;
    margin: 0.5rem auto;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .footer__footnote a {
      text-decoration: none; }
  .footer__container-footnote {
    width: 70vw;
    display: flex;
    margin: auto;
    justify-content: space-between; }
    .footer__container-footnote h5 {
      color: rgba(255, 255, 255, 0.5); }
    .footer__container-footnote a {
      text-decoration: none !important;
      color: white; }
      @media (max-width: 63.9375em) {
        .footer__container-footnote a {
          font-size: 0.8rem; } }

html {
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  overflow-x: hidden; }

a,
a:visited,
a:hover {
  text-decoration: none; }

.wrapper {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  border: 0; }
  @media (max-width: 63.9375em) {
    .wrapper {
      min-height: 100vh !important; } }
  @media (max-width: 39.9375em) {
    .wrapper {
      min-height: 100vh; } }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }

.container {
  max-width: 78rem;
  margin: 0 auto;
  padding-top: 1.375rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  @media (max-width: 87.4375em) {
    .container {
      max-width: 70rem; } }
  @media (max-width: 63.9375em) {
    .container {
      max-width: 52rem; } }

.button {
  padding: 0.73rem;
  background: white;
  cursor: pointer; }

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none; } }
